body {
	width: 80px;
	height: 48px;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	margin-top: 5px;

	background-color: #00a3ff;
	color: white;
	font-weight: bold;

	padding: 10px;
	border-radius: 20px;

	border: none;

	cursor: pointer;
}
